<template>
  <section class="container">
      <h1 class="title">API json-server</h1>   
      <h2 class="subtitle">Negara Piala Dunia 2018</h2>

      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Masukkan Nama Negara: </label>
            <div class="control">
              <input class="input" type="text" v-model="name">
            </div>
          </div>

          <div class="control" v-bind:class="{hidden: !isHidden}">
            <button class="button is-link" @click="add(name)">Submit</button>
          </div>  

          <div class="control" v-bind:class="{hidden: isHidden}">
            <button class="button is-link" @click="update()">Update</button>
          </div>  
        </div> 

        <div class="column">
          <ul class="panel">
            <li class="panel-heading">Daftar Country</li>
            <li class="panel-block">
              <input class="input" type="text is-small" v-model="searchKey">
            </li>
            <li class="panel-block" v-for= "country in filteredCountries" :key="country.id">{{country.name}} / 
              <button class="button is-info" @click="get(country.id)">Edit</button> /
              <button class="button is-danger" @click="remove(country.id)">Hapus</button>
            </li>
          </ul> 
        </div>

      </div>
  </section>
</template>

<script>
import {mapState, mapActions} from 'vuex' 

export default {

  // state
  data: function() {
    return {
      name: '', 
      isHidden: true, 
      activeItem: null,
      searchKey: '',
      countries: this.$store.state.countries
    }
  },

  computed: {
    filteredCountries() {
      return this.countries.filter(country => 
      country.name.toLowerCase().indexOf(this.searchKey.toLowerCase()) !== -1)
    }
  },

  // actions
  methods: {
    // ...mapActions(['add'])
    add(name) {
      this.$store.dispatch('submitData', name)
      this.name = ''
    },

    remove(id) {
      this.$store.dispatch('removeData', id)
    }, 

    get(id) {
      this.$store.dispatch('getData', id).then((res) => {
        this.name = res.name
        this.activeItem = res
        this.isHidden = false
      })
    },

    update() {
      this.$store.dispatch('updateData', {id: this.activeItem.id, 
                                          name: this.name})
      this.name = ''
      this.isHidden = true
    }
  }
}
</script>

<style>
  .hidden {
    display: none;
  }
</style>